<include file="./project/Home/View/head/head.html"/>
<title>我的预约</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/member.css">
	<div class="memberwrap">
		<div class="head">
			<h1 class="logo">管理中心</h1>
			<div class="nav">
				<ul class="lt">
					<li><a href="javascript:;" class="on">个人中心</a></li>
				</ul>
			</div>
		</div>
		<div class="content clearfix">
			<div class="cont_lt lt" id="ucenter_left_lay">
				<ul class="menu_lay">
					<li class="menu open">
						<font class="menu_open_icon"></font>
						<span>账户管理</span>
						<ol class="sub_menu">
							<li><a href="__MODULE__/member/index">个人中心</a></li>
							<li><a href="__MODULE__/member/info">修改资料</a></li>
						</ol>
					</li>
					<li class="menu open">
						<font class="menu_open_icon"></font>
						<span>内容管理</span>
						<ol class="sub_menu">
							<li><a href="__MODULE__/substance/index">我的装修</a></li>
							<li><a href="__MODULE__/substance/myzxb">我的装修保</a></li>
						</ol>
					</li>
					<li class="menu open">
						<font class="menu_open_icon"></font>
						<span>我的订单</span>
						<ol class="sub_menu">
							<li><a href="__MODULE__/order/index">我的招标</a></li>
							<li><a href="javascript:;" class="on">我的预约</a></li>
						</ol>
					</li>
				</ul>
			</div>
			<div class="cont_rt rt">
				<div style="width:997px;margin:0 auto;" class="clearfix">
					<div class="ucenter_t">
						<ul>
							<li><a href="__MODULE__/order/company">预约公司</a></li>
							<li><a href="__MODULE__/order/designer">预约设计师</a></li>
							<li class="on"><a>预约技工</a></li>
							<li><a href="__MODULE__/order/shop">预约商家</a></li>
							<li><a href="__MODULE__/order/gz">预约工长</a></li>
						</ul>
					</div>
					<div class="ucenter_c">
						<table width="100%" border="0" cellspacing="0" class="table">
							<thead>
								<tr>
							        <th width="80">ID</th>
							        <th width="150">技工</th>
							        <th width="150">联系人</th>
							        <th>联系电话</th>
							        <th width="200">预约时间</th>
							        <th width="100">操作</th>
							    </tr>
							</thead>
							<tbody>
							    <tr>
									<td colspan="10">暂无数据</td>
							    </tr>
							</tbody>
						</table>
						<div class="p_pageNav p_ListpageNav" style="display: none;">
							<div class="p_page_inline">
								<div class="p_page">
									<span class="none">< 上一页</span>
									<span class="cur">1</span>
									<span class="none">下一页</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file="./project/Home/View/foot/foot.html"/>
	<script type="text/javascript" src="__ROOT__/Public/js/common.js"></script>
</body>
</html>