<include file="./project/Home/View/head/head.html"/>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>设计师详情</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/company_details.css">
	<script type="text/javascript" src="__ROOT__/Public/js/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="nav-wrap">
		<div class="crumbs_nav">
			<a href="index.html" title="恋家网">恋家网</a>
			<span class="sep">></span>
			<a href="#" title="装修设计">装修设计</a>
			<span class="sep">></span>
			<a href="#" title="杭州装修">杭州装修</a>
			<span class="sep">></span>
			<a href="#" title="杭州装修公司">杭州装修公司</a>
			<span class="sep">></span>
			<span title="至美焕新">至美焕新</span>
			<span class="sep">></span>
			<span title="设计师详情" class="curPage">设计师详情</span>
		</div>
    </div>
    <div class="zxPany-wrap">
		<div class="zxPany-txtWrap">
			<div class="txt-title">
				<ul class="clearfix">
					<li class="info clearfix">
						<div class="pic"><img src="__ROOT__/Public/images/designer1.jpg"></div>
						<div class="des">
							<h3 id="designer_name">陈玲</h3>
							<div class="item-des clearfix">
								<span class="i-title">毕业院校：</span>
								<div class="i-txt i-dTxt"></div>
							</div>
							<div class="item-des clearfix">
								<span class="i-title">案例数：</span>
								<div class="i-txt i-dTxt"></div>
							</div>
							<div class="item-des clearfix">
								<span class="i-title">擅长类型：</span>
								<div class="i-txt">欧式</div>
							</div>
							<div class="item-des clearfix">
								<span class="i-title">简&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;介：</span>
								<div class="i-txt">
									<span class="s-con">设计是千变万化的，但是每个人的选择是不一样的，所以以我的专业给你最合适的答复</span>
								</div>
							</div>
						</div>
					</li>
					<li class="apply">
						<div class="t-apply">
							<div class="list">
								<p class="num">1</p>
								<p class="name">已开工工地</p>
								<span class="s-1"></span>
							</div>
							<div class="list">
								<p class="num">1</p>
								<p class="name">提供案例数</p>
								<span class="s-1"></span>
							</div>
							<div class="list">
								<p class="num">0</p>
								<p class="name">业主点评数</p>
							</div>
						</div>
						<div class="m-btn">
							<a href="javascript:;" class="company-appBtn popup_order_button">预约设计师</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="zxPany-contain">
			<div class="zxPany-list zxPany-case">
				<div class="title clearfix">
					<h5>设计案例<span class="num">（1）</span></h5>
					<a href="#" class="m-l">更多></a>
				</div>
				<div class="case-list">
					<ul class="clearfix">
						<li class="list">
			                <a href="#" target="_blank">
			                    <div class="pic"><img src="__ROOT__/Public/images/al.jpg" height="183" width="275" class="trans"></div>
			                    <div class="txt">
			                        <p class="m-t" title="凤城花苑146平">凤城花苑146平</p>
			                        <p class="s-t">
			                        	<span>四居室</span>
			                        	<i>|</i>
			                        	<span>140平米以上</span>
			                        	<i>|</i>
			                        	<span>面议</span>
			                        	<i>|</i>
			                        	<span>欧式</span>
			                        </p>
			                    </div>
			                </a>
			            </li>
					</ul>
				</div>
			</div>
			<div class="zxPany-list zxPany-place">
				<div class="title clearfix">
					<h5>装修工地<span class="num">（0）</span></h5>
					<a href="#" class="m-l">更多></a>
				</div>
				<div class="place-info"></div>
			</div>
			<div class="zxPany-list zxPany-infoBack">
				<div class="title clearfix">
					<h5>业主点评<span class="num">（0）</span></h5>
					<a href="#" class="m-l">更多></a>
				</div>
				<div class="comment-con"></div>
			</div>
		</div>
    </div>
    <div class="footer">
		<div class="footer_info">
			<div class="footer_con">
				<p class="footer_link">
					<a href="#" target="_blank">关于我们</a>
					<span class="split">|</span>
					<a href="#" target="_blank">联系我们</a>
					<span class="split">|</span>
					<a href="#" target="_blank">媒体报道</a>
					<span class="split">|</span>
					<a href="#" target="_blank">法律声明</a>
					<span class="split">|</span>
					<a href="#" target="_blank">企业文化</a>
					<span class="split">|</span>
					<a href="#" target="_blank">友情链接</a>
					<span class="split">|</span>
					<a href="#" target="_blank">加入我们</a>
					<span class="split">|</span>
					<a href="#" target="_blank">诚聘英才</a>
					<span class="split">|</span>
					<a href="#" target="_blank">网站地图</a>
					<span class="split">|</span>
					<a href="#" target="_blank">帮助中心</a>
				</p>
			</div>
			<p>恋家网 版权所有Copyright © 2017-2028 www.lian.com All rights reserved</p>
			<p>浙ICP备13002314号 浙B2-20090108 组织机构代码证：66439109—1</p>
			<p>中国互联网协会信用评价中心网信认证 网信编码:1664391091 举报电话：021-69108618</p>
		</div>
	</div>
    <script type="text/javascript" src="__ROOT__/Public/js/common.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/company_details.js"></script>
</body>
</html>