<include file="./Public/lay.html"/>
<script src="__PUBLIC__/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/jquery.cityselect.js"></script> 
<script type="text/javascript" src="__PUBLIC__/jquery.cityselect.js"></script> 

<!-- Content Wrapper. Contains page content -->
  <!-- <div class="content-wrapper"> -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        装修公司管理
        <small>添加装修公司</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url('/admin/index') }}"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">装修公司</a></li>
        <li class="active">添加装修公司</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">添加</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="__CONTROLLER__/insert" method="post" enctype="multipart/form-data">
        
              <div class="box-body">
      
                <div class="form-group">
                  <label for="exampleInputName">账号</label>
                  <input style="width:50%;" type="text" name="name" required="required" class="form-control" value="" id="exampleInputName" placeholder="请输入用户名">
                </div>
                 <div class="form-group">
                  <label for="exampleInputName">密码</label>
                  <input style="width:50%;" type="text" name="password" required="required" class="form-control" value="" id="exampleInputName" placeholder="请输入密码">
                </div>
                 <div class="form-group">
                  <label for="exampleInputEmail1">公司名称</label>
                  <input style="width:50%;" type="text" name="c_name" required="required" class="form-control" value="" id="exampleInputEmail1" placeholder="请输入公司名称">
                </div>
                 <div class="form-group">
                  <label for="exampleInputPassword3">公司简介</label>
                  <input style="width:50%;" type="text" required="required" name="introduce" value="" class="form-control" id="exampleInputPassword3" placeholder="请输入公司简介">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword3">联系人</label>
                  <input style="width:50%;" type="text" required="required" name="contacts" value="" class="form-control" id="exampleInputPassword3" placeholder="请输入联系人">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword3">QQ</label>
                  <input style="width:50%;" type="text" required="required" name="qq" value="" class="form-control" id="exampleInputPassword3" placeholder="请输入QQ号">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword3">手机号码</label>
                  <input style="width:50%;" type="text" required="required" name="phone" value="" class="form-control" id="exampleInputPassword3" placeholder="请输入手机号">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword3">城市</label><br/>
                  <select class="form-control" style="width:10%;float:left;" id="s_province" name="province"></select>  
                        <select class="form-control" style="width:10%;float:left;" id="s_city" name="city" ></select>  
                        <select class="form-control" style="width:10%;float:left;" id="s_county" name="county"></select>
                        <script class="resources library" src="__PUBLIC__/area.js" type="text/javascript"></script>
                        <script type="text/javascript">_init_area();</script>
                </div>
                <br/>
                <div class="form-group">
                  <label for="exampleInputPassword4">等级</label>
                  <select style="width:50%;" class="form-control" required="required" id="exampleInputPassword4" name="level">
                      <option value="1">普通级别</option>
                      <option value="2">钻石级别</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">公司banner</label><br/>
                  <a href="javascript:;" style="background-color:#33AECC;" class="file">选择文件<input type="file" name="pic1" id=""></a>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">长方形LOGO</label><br/>
                  <a href="javascript:;" style="background-color:#33AECC;" class="file">选择文件<input type="file" name="pic2" id=""></a>
                </div>
                 <div class="form-group">
                  <label for="exampleInputPassword1">正方形LOGO</label><br/>
                  <a href="javascript:;" style="background-color:#33AECC;" class="file">选择文件<input type="file" name="pic3" id=""></a>
                </div>

              </div>
              
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">添加</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (left) -->  
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

<!-- /.content-wrapper -->