<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>个人中心</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/member.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<include file="./project/Home/View/head/head.html"/>
	<div class="memberwrap">
		<div class="head">
			<h1 class="logo">管理中心</h1>
			<div class="nav">
				<ul class="lt">
					<li><a href="__MODULE__/member/index">个人中心</a></li>
					<li><a href="javascript:;" class="on">设计师管理</a></li>
				</ul>
			</div>
		</div>
		<div class="content clearfix">
			<div class="cont_lt lt" id="ucenter_left_lay">
				<ul class="menu_lay">
					<li class="menu open">
						<font class="menu_open_icon"></font>
						<span>资料设置</span>
						<ol class="sub_menu">
							<li><a href="__MODULE__/ucenter/designerIndex">资料设置</a></li>
						</ol>
					</li>
					<li class="menu open">
						<font class="menu_open_icon"></font>
						<span>装修案例</span>
						<ol class="sub_menu">
							<li><a href="__MODULE__/ucenter/designerCaseIndex">案例管理</a></li>
						</ol>
					</li>
					<li class="menu open">
						<font class="menu_open_icon"></font>
						<span>文章管理</span>
						<ol class="sub_menu">
							<li><a href="javascript:;" class="on">文章管理</a></li>
						</ol>
					</li>
					<li class="menu open">
						<font class="menu_open_icon"></font>
						<span>预约管理</span>
						<ol class="sub_menu">
							<li><a href="__MODULE__/ucenter/Yuyue">预约管理</a></li>
							<li><a href="__MODULE__/ucenter/TenderIndex">我要投标</a></li>
							<li><a href="__MODULE__/ucenter/TenderLook">我的竞标</a></li>
						</ol>
					</li>
				</ul>
			</div>
			<div class="cont_rt rt">
				<div style="width:997px;margin:0 auto;" class="clearfix">
					<div class="ucenter_t">
						<ul>
							<li class="on"><a>添加文章</a></li>
						</ul>
						<span class="r"><a href="__MODULE__/ucenter/blogIndex">文章管理</a></span>
					</div>
					<div class="ucenter_c">
						<form>
							<table cellspacing="0" cellpadding="0" class="form">
								<tbody>
									<tr>
										<th><span class="red">*</span>标题：</th>
										<td><input type="text" name="title" class="input"></td>
									</tr>
									<tr>
										<th>内容：</th>
										<td>
											<textarea class="textarea"></textarea>
										</td>
									</tr>
									<tr>
										<th></th>
										<td><input type="submit" name="refer" class="green_btn" value="提交数据"></td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file="./project/Home/View/foot/foot.html"/>
	<script type="text/javascript" src="__ROOT__/Public/js/common.js"></script>
</body>
</html>