<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>个人中心</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/member.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<include file="./project/Home/View/head/head.html"/>
	<div class="memberwrap">
		<div class="head">
			<h1 class="logo">管理中心</h1>
			<div class="nav">
				<ul class="lt">
					<li><a href="__MODULE__/member/index">个人中心</a></li>
					<li><a href="javascript:;" class="on">设计师管理</a></li>
				</ul>
			</div>
		</div>
		<div class="content clearfix">
			<div class="cont_lt lt" id="ucenter_left_lay">
				<include file="./project/Home/View/head/head-designer-zb.html"/>
			</div>
			<div class="cont_rt rt">
				<div style="width:997px;margin:0 auto;" class="clearfix">
					<div class="ucenter_t">
						<ul>
							<li><a href="__MODULE__/ucenter/TenderIndex">预约招标</a></li>
							<li class="on"><a>招标详情</a></li>
						</ul>
					</div>
					<div class="ucenter_c">
						<p class="tips"><span class="lock">您是【<b class="red">普通技工</b>】不能进行投标</span></p>
						<table width="100%" border="0" cellpadding="0" cellspacing="0" class="info">
							<tbody>
								<tr>
									<th>标题：</th>
									<td colspan="5">--</td>
								</tr>
								<tr>
									<th>ID：</th>
									<td>0</td>
									<th>会员：</th>
									<td>--</td>
								</tr>
								<tr>
									<th>装修时间：</th>
									<td>2017-08-11</td>
									<th>售价/金币：</th>
									<td>0</td>
								</tr>
								<tr>
									<th>最大投标数：</th>
									<td>3</td>
									<th>已投标数：</th>
									<td>1</td>
								</tr>
								<tr>
									<th>发布时间：</th>
									<td>2017-09-30 13:18:22</td>
									<th>发布地：</th>
									<td>浙江杭州</td>
								</tr>
								<tr>
									<th>联系人：</th>
									<td>刘先生</td>
									<th>状态：</th>
									<td><b class="blue">招标中</b></td>
								</tr>
								<tr>
									<th>地址：</th>
									<td colspan="5">浙江杭州萧山区博奥路</td>
								</tr>
								<tr>
									<th>电话：</th>
									<td colspan="5">13888888888</td>
								</tr>
								<tr><td colspan="10" style="height: 10px;"></td></tr>
								<tr>
									<th>小区名称：</th>
									<td>--</td>
									<th>房屋面积：</th>
									<td>0㎡</td>
								</tr>
								<tr>
									<th>招标类型：</th>
									<td>--</td>
									<th>喜欢风格：</th>
									<td>--</td>
								</tr>
								<tr>
									<th>预算范围：</th>
									<td>--</td>
									<th>服务需求：</th>
									<td>--</td>
								</tr>
								<tr>
									<th>空间户型：</th>
									<td>--</td>
									<th>装修方式：</th>
									<td>--</td>
								</tr>
								<tr>
									<th>业主要求：</th>
									<td colspan="5">--</td>
								</tr>
							</tbody>
						</table>
						<h4 class="tips">已经参与竞标公司</h4>
						<table width="100%" border="0" cellspacing="0" class="table">
							<thead>
								<tr>
							        <th width="100">ID</th>
							        <th>商家</th>
							        <th width="200">竞标时间</th>
							        <th width="100">状态</th>
							    </tr>
							</thead>
							<tbody>
								<tr>
									<td>1909</td>
									<td>公司：圣沙名业</td>
									<td>2017-08-18 16:29:48</td>
									<td>未签单</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file="./project/Home/View/foot/foot.html"/>
	<script type="text/javascript" src="__ROOT__/Public/js/common.js"></script>
</body>
</html>