.case_main{width:1200px;height:auto;margin:0 auto;}
.case_crumbs{height:25px;line-height:25px;color:#999;margin:7px 0px;}
.case_crumbs a{color:#666;}
.choose_area{width:1198px;height:auto;border:1px solid #eee;}
.sel_place{height:40px;line-height:40px;background:#f8f8f8;}
.sel_place_l{height:25px;margin:0px 30px 0px 40px;}
.sel_place_l b{color:#ff2a00;padding:0px 5px;}
.cho_tag_dl{overflow:hidden;line-height:40px;position:relative;top:-1px;width:100%;border-top:1px solid #eee;}
.cho_tag_dl dt{float:left;text-align:center;width:77px;z-index:1;font-weight:bold;margin-left:20px;}
.cho_tag_dl dd{display:inline;float:left;height:40px;width:925px;overflow:hidden;}
.cho_tag_dl dd a{color:#666;float:left;min-width:60px;height:20px;line-height:20px;margin:10px 42px 0px 0px;text-align:center;text-decoration:none;border-radius:3px;transition:all 0.2s linear 0s;}
.cho_tag_dl dd a.pitch_on{background:#cf0000;color:#fff;}
.cho_tag_dl dd a:hover{background:#cf0000;color:#fff;}
.cho_tag_dl dd.short_e{width:80px;}
.centre_area{width:1200px;}
.centre_area .case_sort{height:35px;background:#f8f8f8;position:relative;padding-top:15px;border:1px solid #eee;margin:15px 0px 0px;}
.centre_area .case_sort span{display:inline-block;font:18px/18px "微软雅黑";text-indent:40px;color:#333;}
.centre_area .case_content{width:1200px;overflow:hidden;}
.centre_area .case_contbr{width:1198px;border:1px solid #eee;border-top:none;}
.title_bar_top{position:relative;}
.title_bar_top img{float:left;width:60px;height:60px;border-radius:50%;}
.title_bar_top .bar_top_right{float:left;margin-left:20px;}
.bar_top_right span em{color:#369;margin-right:25px;}
.case_content .site_live{padding:15px 40px 0px;cursor:pointer;}
.site_live:hover{background:#fafafa;}
.site_live:hover h2 a{color:#d00;}
.site_live p.p_txts{text-indent:80px;font-size:14px;height:50px;line-height:25px;overflow:hidden;}
.site_live ul{margin:10px 0px;}
.site_live ul li img{transition-property:all;-webkit-transform:scale(1,1);-webkit-transition-timing-function:ease-out;-webkit-transition-duration:900ms;-moz-transform:scale(1,1);-moz-transition-timing-function:ease-out;-moz-transition-duration:900ms;}
.site_live ul li img:hover{-webkit-transform:scale(1.1,1.1);-moz-transform:scale(1.1,1.1);position:relative;}
.site_live ul li{float:left;width:256px;height:160px;margin-right:10px;overflow:hidden;}
.site_live p.p_btm{color:#999;border-bottom:1px dotted #aaa;padding-bottom:15px;}
.site_live p.p_btm span a{padding:0 5px;}
.site_live p span.time{padding:0px 15px;}
.site_live.last p.p_btm{border-bottom:none;}
.add_live p.p_txts span{color:#dd0000;font-weight:bold;}
.add_live p.p_txts span em{display:inline-block;width:9px;height:12px;background:url(http://ued.jia.com/image/zhuangxiu/finish_index/site_live_ico.png) no-repeat -48px -2px;margin-right:10px;vertical-align:middle;}
.add_live p.p_txts{padding-left:60px;text-indent:0px;margin-top:10px;}
.add_live ul li{width:140px;height:140px;margin-bottom:10px;}
.add_live .title_bar_top img{width:42px;height:42px;border-radius:0;}
.add_live .bar_top_right h2{line-height:18px;color:#333;padding-bottom:8px;}
.add_live ul{margin:10px 0px 10px 60px;}
.add_live p.p_btm{padding-left:60px;}
.add_live p.p_btm span a{color:#369;}.add_live p.p_btm span a:hover{color:#dd0000;}
.live-main{width: 1160px;margin:0 auto;padding: 20px 0 45px;overflow: hidden;}
.live_header{border:1px solid #eee;width: 888px;}
.infor_left{width: 890px;padding: 18px 0 18px 25px;position: relative;box-sizing: border-box;}
.infor_left .auther{text-align: center;color: #333;}
.infor_left .tentre{margin-left: 30px;}
.infor_left .tentre h1{width:525px;color: #333;font-size:24px;font-family:微软雅黑;margin-bottom:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.tentre .info_line .unit_price{color:#dd0000;}.unit_price i{font-family:"微软雅黑";}
.tentre .info_line label{padding-right: 30px;}
.infor_left .comment{float: right;margin-top: 48px;}
.comment li{float:left; font-size:14px; text-align:center; margin-right:50px;*margin-right:40px;}
.comment li span.say{background-position:-7px -116px;}
.comment li em{ font-size:16px; font-weight:700;color:#d95858; font-family:Arial;}
.chest_left{width: 888px;border: 1px solid #eee;}
.chest_left .total_record{height:40px;line-height:40px;border-bottom: 1px solid #eee;background:#f8f8f8;padding:0px 25px;}
.total_record span{color:#333;font-family:微软雅黑;font-size:18px;font-weight:700;margin-right:12px;}
.detail_content h2{background: #fff8f8;padding:5px 0px 5px 88px;}
.detail_content .sub_step{padding:20px 50px 20px 25px;}
.detail_content h2 span{float:left;display:block;height:30px;line-height:30px;font-size:14px;text-align:center;}
.detail_content h2 .former{width:110px;color:#fff;background:#e74a4a;font-weight: bold;}
.detail_content h2 .latter{color:#d80606;text-indent:1em;}
.live-main .content-left{float: left;width: 890px;}
.live-main .content-right{float: right;width: 250px;}
.pub_icon{ background:url(../images/icon.png) no-repeat;display: inline-block;vertical-align: middle;}
.vertical_line{border:1px solid #eee;position: relative;}
.vertical_line .news_title{height:40px;background:#f8f8f8;font:bold 14px/40px "宋体";color:#999;text-indent:3em;border-bottom:1px solid #eee;}
.vertical_line ul{ background:url(http://ued.jia.com/image/zhuangxiu/talk/vertical_line.png) no-repeat 0 3px;margin:25px 0px 0px 30px;}
.vertical_line li{margin-bottom:22px; position:relative;height:18px; line-height:18px;padding-left:32px; font-size:14px;}
.vertical_line li em{ font-size:12px;}
.vertical_line li.on a,.vertical_line li.on a em{ font-weight:700;}
.vertical_line li.start a{color:#cf0000;}
.vertical_line b,.vertical_line li i{ display:block; width:13px;height:13px; position:absolute;}
.vertical_line li em{margin-left:18px;}
.vertical_line b{background-position:-8px -396px;left:24px; top:69px;}
.vertical_line li i{background-position:-8px -417px;left:-6px; top:4px;}