<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>注册类型</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
</head>
<body>
	<div id="header">
		<div class="wrap">
			<div class="logo">
				<a href="#"><img src=""></a>
			</div>
			<p class="title">会员注册</p>
		</div>
	</div>
	<div class="rel-wrap rel-type">
		<div class="container">
			<ul class="register_list clearfix">
				<li>
					<p class="tit">业主会员<font class="fontcl2">（注册）</font></p>
					<p>晒晒自己的装修日记，向大家展示自己装修成果，与大家共同分享装修过程。</p>
					<a href="/home/register/register?type=1" class="btn btn_main_big">立即注册</a>
				</li>
				<li>
					<p class="tit">装修工人<font class="fontcl2">（注册）</font></p>
					<p>晒晒自己的装修手艺，向大家展示自己的劳动成果，期待参与您的装修过程。</p>
					<a href="/home/register/register?type=5" class="btn btn_main_big">立即注册</a>
				</li>
				<li>
					<p class="tit">设计师<font class="fontcl2">（注册）</font></p>
					<p>晒晒自己的装修创意，向大家展示自己的才艺水平，与大家共同分享家居理念。</p>
					<a href="/home/register/register?type=3" class="btn btn_main_big">立即注册</a>
				</li>
				<li>
					<p class="tit">装修工长<font class="fontcl2">（注册）</font></p>
					<p>晒晒自己的装修团队，向大家展示自己装修业绩，与大家共同分享装修过程。</p>
					<a href="/home/register/register?type=6" class="btn btn_main_big shangjia_btn">立即注册</a>
				</li>
				<li>
					<p class="tit">装修公司<font class="fontcl2">（注册）</font></p>
					<p>晒晒自己的公司实力，向大家展示装修案例，与大家共同分享装修乐趣。</p>
					<a href="/home/register/register?type=2" class="btn btn_main_big shangjia_btn">立即注册</a>
				</li>
				<li>
					<p class="tit">建材商家<font class="fontcl2">（注册）</font></p>
					<p>晒晒自己的产品质量，向大家展示品牌特色，与大家共同分享品质生活。</p>
					<a href="/home/register/register?type=4" class="btn btn_main_big shangjia_btn">立即注册</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer">
		<div class="footer_info">
			<div class="footer_con">
				<p class="footer_link">
					<a href="#" target="_blank">关于我们</a>
					<span class="split">|</span>
					<a href="#" target="_blank">联系我们</a>
					<span class="split">|</span>
					<a href="#" target="_blank">媒体报道</a>
					<span class="split">|</span>
					<a href="#" target="_blank">法律声明</a>
					<span class="split">|</span>
					<a href="#" target="_blank">企业文化</a>
					<span class="split">|</span>
					<a href="#" target="_blank">友情链接</a>
					<span class="split">|</span>
					<a href="#" target="_blank">加入我们</a>
					<span class="split">|</span>
					<a href="#" target="_blank">诚聘英才</a>
					<span class="split">|</span>
					<a href="#" target="_blank">网站地图</a>
					<span class="split">|</span>
					<a href="#" target="_blank">帮助中心</a>
				</p>
			</div>
			<p>恋家网 版权所有Copyright © 2017-2028 www.lian.com All rights reserved</p>
			<p>浙ICP备13002314号 浙B2-20090108 组织机构代码证：66439109—1</p>
			<p>中国互联网协会信用评价中心网信认证 网信编码:1664391091 举报电话：021-69108618</p>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
</body>
</html>