<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/zebra_dialog.css">
	<title>注册</title>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
</head>
<body>
	<div id="header">
		<div class="wrap">
			<div class="logo">
				<a href="#"></a>
			</div>
			<p class="title">新用户注册</p>
		</div>
	</div>
	<div class="rel-wrap">
		<div class="wrap clearfix">
			<div class="form-box relBox clearfix">
				<div class="rel-left fl">
					<img src="__PUBLIC__/images/lr.jpg">
				</div>
				<div class="rel-right fl">
					<form action="__CONTROLLER__/doreg?type={$type}" method="post">
			            <table border="0" style="width:420px; font-size:14px; margin-top:20px;" cellspacing="0" cellpadding="0">
			              <tr height="50" valign="top">
			              	<td width="95">&nbsp;</td>
			                <td>
			                	<span class="fl" style="font-size:24px;">注册</span>
			                    <span class="fr">已有恋家网账号，<a href="/home/login/index" style="color:#ff4e00;">我要登录</a></span>
			                </td>
			              </tr>
			              <tr>
			              	<td colspan="2" id="dir" style="color:red;text-align:center;"></td>
			              </tr>
			              <tr>
			              	<td colspan="2"></td>
			              </tr>
			              <tr height="50">
			                <td align="right"><font color="#ff4e00">*</font>&nbsp;手机 &nbsp;</td>
			                <td><input type="text" name="phone" value="" id="phone" class="l_tel" required placeholder="请输入手机号"/></td>
			              </tr>

			              <tr height="50">
			                <td align="right"><font color="#ff4e00">*</font>&nbsp;密码 &nbsp;</td>
			                <td><input type="password" name="pwd" value="" id="pwd" class="l_pwd" required placeholder="请输入密码"/></td>
			              </tr>
			              <tr height="50">
			                <td align="right"><font color="#ff4e00">*</font>&nbsp;确认密码 &nbsp;</td>
			                <td><input type="password" name="qrmm" value="" id="qrmm" class="l_pwd" required placeholder="请确认密码"/></td>
			              </tr>
			              <tr height="50">
			                <td align="right"> <font color="#ff4e00">*</font>&nbsp;验证码 &nbsp;</td>
			                <td>
			                    <input type="text" value="" class="l_ipt" name="yzm" id="yzm" style="float:left;width:170px;" required placeholder="请输入手机验证码"/>
			                    <input type="button" id="butt" class="iden-code" value="获取验证码" style="float:left;width: 120px;height: 42px;line-height: 32px;color: #5b9fe2;background: #f7f9ff;border: 1px solid #c2dbf4;margin-left: 12px;cursor: pointer;">
			                </td>
			              </tr>
			              <tr>
			              	<td>&nbsp;</td>
			                <td style="font-size:12px; padding-top:20px;">
			                	<span style="font-family:'宋体';" class="fl">
			                    	<label class="r_rad"><input id="check" type="checkbox" id="protocol"/></label>
			                      <label class="r_txt" for="protocol">我已阅读并接受&nbsp;<a href="javascript:void(0)" onclick="return fei();" style="text-decoration: underline;">《用户协议》</a></label>
			                    </span>
			                </td>
			              </tr>
			              <tr height="60">
			              	<td>&nbsp;</td>
			                <td><input type="submit" id="btn" value="立即注册" class="log_btn" /></td>
			              </tr>
			            </table>
			        </form>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer_info">
			<div class="footer_con">
				<p class="footer_link">
					<a href="#" target="_blank">关于我们</a>
					<span class="split">|</span>
					<a href="#" target="_blank">联系我们</a>
					<span class="split">|</span>
					<a href="#" target="_blank">媒体报道</a>
					<span class="split">|</span>
					<a href="#" target="_blank">法律声明</a>
					<span class="split">|</span>
					<a href="#" target="_blank">企业文化</a>
					<span class="split">|</span>
					<a href="#" target="_blank">友情链接</a>
					<span class="split">|</span>
					<a href="#" target="_blank">加入我们</a>
					<span class="split">|</span>
					<a href="#" target="_blank">诚聘英才</a>
					<span class="split">|</span>
					<a href="#" target="_blank">网站地图</a>
					<span class="split">|</span>
					<a href="#" target="_blank">帮助中心</a>
				</p>
			</div>
			<p>恋家网 版权所有Copyright © 2017-2028 www.lian.com All rights reserved</p>
			<p>浙ICP备13002314号 浙B2-20090108 组织机构代码证：66439109—1</p>
			<p>中国互联网协会信用评价中心网信认证 网信编码:1664391091 举报电话：021-69108618</p>
		</div>
	</div>
	<script>

  function fei(){  
    new $.Zebra_Dialog('', {
  source: {'iframe': {
    'src':  '/home/protocol/index',
    'height': 500
  }},
  width: 800,
  title:  '用户协议',
  buttons:false
  }); 
  }   

  var phone = false;
  var status = false;
  var status2 = false;
  var check = false;

  //电话号码输入事件
  $('#phone').on('blur',function(){
  		var val = $(this).val(); 
  		$.post('/home/register/pajax',{phone:val},function(data){
  			if(data == 1){
  				$('#dir').text('手机号码不合法，请重新输入');
  				$('#dir').css('display','');
  			}

  			if(data == 2){
  				$('#dir').css('display','').html('该手机已经注册');
  			}

  			if(data == 3){
  				phone = true;
  				$('#dir').css('display','none').html('');
  			}
  		})
  });

	//密码确认
	$('#pwd').on('blur',function(){

		//获取密码内容
		var pwd = $(this).val();

		//获取确认密码中的内容
		var qrmm = $('#qrmm').val();

		//判断	
		if(pwd != qrmm){

			//修改样式，提示信息
			$('#dir').text('两次密码不一致');

			//设置样式
			$('#dir').css('display','');
		}else{

			status = true;
			$('#dir').css('display','none').html('');
		}
	});

	//确认密码移除事件
	$('#qrmm').on('blur',function(){

		//获取当前内容val
		var qrmm = $(this).val();

		//获取密码内容，进行对比
		var pwd = $('#pwd').val();

		if(pwd != qrmm){

			$('#dir').text('两次密码不一致');

			$('#dir').css('display','');

		}else{

			status2 = true;
			$('#dir').css('display','none').html('');
		}	
	});

	$('#check').on('click',function(){

		var res = $(this).prop('checked');
		if(!res){

			$('#dir').text('请接受用户协议');

			$('#dir').css('display','');
		}else{
			check = true;
			$('#dir').css('display','none').html('');
		}	
	});

	//获取验证码
		var wait = 60;
		function time(btn) {
			if (wait == 0) {
					btn.removeAttribute("disabled");
					btn.value = "获取验证码";
					wait = 60;
				} else {
					btn.setAttribute("disabled", true);
					btn.value = wait + "秒后重新获取";
					wait--;
				setTimeout(function () {
					time(btn);
				},
				1000)
			}
		}

	//验证码
	$('#butt').on('click',function(){
		if(phone){
			time(this);
			var num = $('#phone').val();
			$.post('/home/register/code',{phone:num},function(data){
				console.log(data);
			});
		}	
	});
	

</script>
<script type="text/javascript" src="__PUBLIC__/plugins/zebra_dialog.js"></script>
</body>
</html>