<include file="./Public/lay.html"/>
<script src="__PUBLIC__/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/jquery.cityselect.js"></script> 
<script type="text/javascript" src="__PUBLIC__/jquery.cityselect.js"></script> 

<!-- Content Wrapper. Contains page content -->
  <!-- <div class="content-wrapper"> -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        装修保管理
        <small>查看招标</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url('/admin/index') }}"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">装修保</a></li>
        <li class="active">查看招标</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">查看招标</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div id="sid" style="display:none" class="alert alert-danger">
            </div>
            <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">查看招标</div>
            <!-- Table -->
            <table class="table table-bordered table-hover" style="table-layout:fixed;">
            <tr> 
              <td style="text-overflow:ellipsis;text-align:center;">姓名</td>
              <td style="text-overflow:ellipsis;text-align:center;">{$res.name}</td>
            </tr>
            <tr> 
              <td style="text-overflow:ellipsis;text-align:center;">电话</td>
              <td style="text-overflow:ellipsis;text-align:center;">{$res.phone}</td>
            </tr>
            <tr> 
              <td style="text-overflow:ellipsis;text-align:center;">标题</td>
              <td style="text-overflow:ellipsis;text-align:center;">{$res.title}</td>
            </tr>
             <tr> 
              <td style="text-overflow:ellipsis;text-align:center;">类型</td>
              <td style="text-overflow:ellipsis;text-align:center;"><?=$type[$res['type']]?></td>
            </tr>
             <tr> 
              <td style="text-overflow:ellipsis;text-align:center;">装修预算</td>
              <td style="text-overflow:ellipsis;text-align:center;"><?=$budget[$res['budget']]?></td>
            </tr>
             <tr> 
              <td style="text-overflow:ellipsis;text-align:center;">装修面积</td>
              <td style="text-overflow:ellipsis;text-align:center;">{$res.acreage}㎡</td>
            </tr>
             <tr> 
              <td style="text-overflow:ellipsis;text-align:center;">小区名称</td>
              <td style="text-overflow:ellipsis;text-align:center;">{$res.cellname}</td>
            </tr>
             <tr> 
              <td style="text-overflow:ellipsis;text-align:center;">所在地区</td>
              <td style="text-overflow:ellipsis;text-align:center;">{$res.city}</td>
            </tr>
            <tr> 
              <td style="text-overflow:ellipsis;text-align:center;">详细地址</td>
              <td style="text-overflow:ellipsis;text-align:center;">{$res.address}</td>
            </tr>
            <tr> 
              <td style="text-overflow:ellipsis;text-align:center;">装修方式</td>
              <td style="text-overflow:ellipsis;text-align:center;"><?=$method[$res['method']]?></td>
            </tr>
            <tr> 
              <td style="text-overflow:ellipsis;text-align:center;">风格</td>
              <td style="text-overflow:ellipsis;text-align:center;"><?=$style[$res['style']]?></td>
            </tr>
            <tr> 
              <td style="text-overflow:ellipsis;text-align:center;">服务要求</td>
              <td style="text-overflow:ellipsis;text-align:center;">{$res.server}</td>
            </tr>
            <tr> 
              <td style="text-overflow:ellipsis;text-align:center;">跟进状态</td>
              <td style="text-overflow:ellipsis;text-align:center;"><?=$status[$res['status']]?></td>
            </tr>
            <tr> 
              <td style="text-overflow:ellipsis;text-align:center;">审核</td>
              <td style="text-overflow:ellipsis;text-align:center;"><?=$examine[$res['examine']]?></td>
            </tr>
            </table>
          </div>
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (left) -->  
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

<!-- /.content-wrapper -->