
<include file="./Public/lay.html"/>
<link href="__PUBLIC__/css/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="__PUBLIC__/css/global.css">
<link rel="stylesheet" href="__PUBLIC__/css/dialog.css">
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/jquery.imgbox.pack.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/dialog.js"></script>

<style>

.page {
    margin: 10px 0;
    *zoom: 1;
}
.page:before,
.page:after {
    display: table;
    content: "";
}
.page:after {
    clear:both;
}
.page a,
.page span {
    float: left;
    margin-left: -1px;
    padding: 0 14px;
    height: 30px;
    line-height: 30px;
    color: #000;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    /*background-color: #4bbd00;*/
}
.page a:hover
 {
    text-decoration: none;
    background-color: #33AECC;
}
.page .current {
  border-top: 1px solid #387C0B;
}
.page .next,
.page .prev {
    font-family: "宋体";
    font-weight: bold;
}
.page .rows {
  border-right: 1px solid #CCCCCC;
}
a:link{text-decoration: none; color:blue; font-size: 14px; font-family: 微软雅黑;}
a:visited{ color:green;}
a:hover{text-decoration: underline; color:#09f; font-size: 19px;}
a:active{text-decoration: blink; color: yellow;}
</style>
<!-- Content Wrapper. Contains page content -->
  <div style="width:100%">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        监管管理
        <small>列表</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{:U('/admin/index/index')}"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="__CONTROLLER__/index">监管管理</a></li>
        <li class="active">列表</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--<div class="alert alert-danger">
                  
                </div>  -->  
            <form action="__CONTROLLER__/index" method="get">
                <div class="row"> 
                    <!-- select -->
                    <div class="col-md-2">
                        <div class="form-group">
                            <a href="__CONTROLLER__/add">添加</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-6">
                       <div class="input-group input-group">
                            <input value="" name="keywords" type="text" class="form-control">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-info btn-flat">搜索!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
              <table id="example2" class="table table-bordered table-hover" style="table-layout:fixed;">
                <thead>
                <tr>
                  <th style="text-align:center;">姓名</th>
                   <th style="text-align:center;">地区</th>
                  <th style="text-align:center;">联系方式</th>
                  <th style="text-align:center;">简介</th>
                  <th style="text-align:center;">状态</th>
                  <th style="text-align:center;">操作</th>
                </tr>
                </thead>
                <tbody> 
                <foreach name="res" item="v">
	                <tr class="parent">
                    <td class="name" style="text-overflow:ellipsis;text-align:center;">{$v.name}</td>
	                  <td class="ids" style="text-overflow:ellipsis;text-align:center;">{$v.city}</td>
                    <td class="name" style="text-overflow:ellipsis;text-align:center;">{$v.phone}</td>
                    <td class="name" style="text-overflow:ellipsis;text-align:center;">{$v.introduce}</td>
                    <td class="name" style="text-overflow:ellipsis;text-align:center;"><?=$sta[$v['status']]?></td>
	                  <td class="name" style="text-overflow:ellipsis;text-align:center;"><a href="__CONTROLLER__/edit?id={$v.id}">修改</a> | <a href="__CONTROLLER__/delete?id={$v.id}">删除</a></td>
	                </tr>
	            </foreach>
	           

                </tbody>
                
              </table>
            <div class="page">
              {$show}
            </div>
            
              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div> 

