<include file="./Public/lay.html"/>
<script src="__PUBLIC__/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/jquery.cityselect.js"></script> 
<script type="text/javascript" src="__PUBLIC__/jquery.cityselect.js"></script> 

<!-- Content Wrapper. Contains page content -->
  <!-- <div class="content-wrapper"> -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        案例管理
        <small>修改案例</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url('/admin/index') }}"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">案例管理</a></li>
        <li class="active">修改案例</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">修改</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div id="sid" style="display:none" class="alert alert-danger">
            </div>
            <form role="form" action="__CONTROLLER__/update?id={$res.id}" method="post" enctype="multipart/form-data">
              <div class="box-body">
      
                <div class="form-group">
                  <label for="exampleInputName">标题</label>
                  <input style="width:50%;" type="text" name="title" required="required" class="form-control" value="{$res.title}" placeholder="请输入标题">
                </div>
                 <div class="form-group">
                  <label for="exampleInputPassword3">城市</label><br/>
                  <select class="form-control" style="width:10%;float:left;" id="s_province" name="province"></select>  
                        <select class="form-control" style="width:10%;float:left;" id="s_city" name="city" ></select>  
                        <select class="form-control" style="width:10%;float:left;" id="s_county" name="county"></select>
                        <script class="resources library" src="__PUBLIC__/area.js" type="text/javascript"></script>
                        <script type="text/javascript">_init_area();</script>
                </div>
                <br>
                 <div class="form-group">
                  <label for="exampleInputEmail1">所在小区</label>
                  <input style="width:50%;" type="text" name="cellname" required="required" class="form-control" value="{$res.cellname}" id="exampleInputEmail1" placeholder="请输入所在小区">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword4">装修公司</label>
                  <select style="width:50%;" class="form-control" required="required" id="sel" name="gid">
                    <foreach name="com" item="v">
                      <option value="{$v.id}" <?php if($res['gid'] == $v['id']){ ?> selected="selected" <?php } ?> >{$v.c_name}</option>
                    </foreach>
                  </select>
                </div>
                  <div class="form-group">
                  <label for="exampleInputPassword4">选择工长</label>
                  <select style="width:50%;" class="form-control" required="required" id="select" name="fid">  
                      <option value="">请选择</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword4">选择设计师</label>
                  <select style="width:50%;" class="form-control" required="required" id="select1" name="did">  
                      <option value="">请选择</option>
                  </select>
                </div>
                <script>
                    $('#sel').on('change',function(){
                    
                    $('#select').find('option').remove();
                    //获取id
                    var id = $(this).val();
                      //查询所有父分类
                      $.ajax('/admin/case/myajax',{
                          type:'GET',
                              data:{gid:id},
                              dataType:'json',
                              success:function(data){
                                  
                                  //循环迭代数据
                                   for(var i = 0; i < data.length; i++){
                                      
                                      //迭代创建option标签数据
                                      option = $('<option value="'+ data[i]['id'] +'">'+ data[i]['truename'] +'</option>'); 

                                      //修改到创建的select框中
                                      $('#select').append(option);
                                   
                                  }        
                              //返回错误信息
                              },error:function(){
                                  alert('数据异常');
                              }
                       });
                   });

                    $('#sel').on('change',function(){
                    
                    $('#select1').find('option').remove();
                    //获取id
                    var id = $(this).val();
                      //查询所有父分类
                      $.ajax('/admin/case/desajax',{
                          type:'GET',
                              data:{gid:id},
                              dataType:'json',
                              success:function(data){
                                  
                                  //循环迭代数据
                                   for(var i = 0; i < data.length; i++){
                                      
                                      //迭代创建option标签数据
                                      option = $('<option value="'+ data[i]['id'] +'">'+ data[i]['truename'] +'</option>'); 

                                      //修改到创建的select框中
                                      $('#select1').append(option);
                                   
                                  }        
                              //返回错误信息
                              },error:function(){
                                  alert('数据异常');
                              }
                       });
                   });
                </script>
                <div class="form-group">
                  <label for="exampleInputPassword4">选择户型</label>
                  <select style="width:50%;" class="form-control" required="required" id="exampleInputPassword4" name="type">
                      <option value="1" <?php if($res['type']==1){ ?> selected="selected" <?php } ?> >小户型</option>
                      <option value="2" <?php if($res['type']==2){ ?> selected="selected" <?php } ?> >二居</option>
                      <option value="3" <?php if($res['type']==3){ ?> selected="selected" <?php } ?> >三居</option>
                      <option value="4" <?php if($res['type']==4){ ?> selected="selected" <?php } ?> >四居</option>
                      <option value="5" <?php if($res['type']==5){ ?> selected="selected" <?php } ?> >复式</option>
                      <option value="6" <?php if($res['type']==6){ ?> selected="selected" <?php } ?> >别墅</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword4">审核</label>
                  <select style="width:50%;" class="form-control" required="required" id="exampleInputPassword4" name="audit">
                      <option value="1" <?php if($res['audit']==1){ ?> selected="selected" <?php } ?> >未通过</option>
                      <option value="2" <?php if($res['audit']==2){ ?> selected="selected" <?php } ?>>已通过</option>
                      <option value="3" <?php if($res['audit']==3){ ?> selected="selected" <?php } ?> >拒绝</option>
                  </select>
                </div>
               <div class="form-group">
                  <label for="exampleInputPassword1">展示图</label><br/>
                  <a href="javascript:;" style="background-color:#33AECC;" class="file">选择文件<input type="file" name="logo[]" id=""/></a>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">户型图</label><br/>
                  <a href="javascript:;" style="background-color:#33AECC;" class="file">选择文件<input multiple type="file" name="pic[]" id=""/></a>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword3">设计思路</label><br/>
                  <textarea style="resize: none;width:50%;height:80px;" required="required" name="idea" id="" cols="30" rows="10">{$res.idea}</textarea>
                </div>
              </div>
              
              <!-- /.box-body -->
              <div class="box-footer">
                <button id="btn" type="submit" class="btn btn-primary">修改</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (left) -->  
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

<!-- /.content-wrapper -->